body {
    margin: 0;
    background-color: #edbebe;
    font-family: "Playfair Display", serif;
    color: #000000;
    line-height: 1.6;
  }

/****************   Nav Section **********************/
nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
	background-color: #41041e;
  border-bottom: 2px solid #550202;
  padding: 16px 24px;

}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/***********************  Footer Section   **************************/
footer {
	display:flex;
  justify-content: center;
  background-color: rgb(65, 8, 31);
  padding: 50px;
}

/*********** Splash Page ************************/
header {
  text-align: center;
  padding: 40px 20px;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size:48px;
  color:rgb(127, 5, 40)
}

header img {
  border-radius: 50%;
}

.address {
  text-align: center;
  font-size: 14px;
  color: #620202;
  margin-top: 25px;
}

.tagline {
  text-align: center;
  font-size: 14px;
  color: #550202;
  margin-top: 15px;
}

/************* Sections ********************/
hr {
  margin: 30px 0;
  border: 1px solid #edbebe
}
section {
  margin: 20px 40px;
}

section h3 {
  font-family: "Playfair Display", serif;
  color: #472f4a;
  font-size: 28px;
  
}

section dl {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
  padding-left: 30px;
}

section ul {
  list-style-type: square;
  padding-left: 25px;
  font-size:16px;
}

section a {
  color: #304;
  text-decoration: none;
}

section a:hover {
  color:#550202;
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 30px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card {
  background-color: rgb(242, 226, 207);
  padding: 28px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 40px auto;
  width: 60%;
}

h1 {
  text-align: center;
  margin-top: 40px;
}


input {
  width:100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius:6px;
   font-size: 16px;
   height: 120px;

}

footer a {
  margin: 0 10px;
}